
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 75%;
  max-height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.ln2x-block {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 2.5rem 0;
    position: relative;
    background-size: cover;
    background-color: #FFF9FF;
}

.ln2x-block .container {
    background-size: contain;
}
.ln2x-block .container.bg-r {
    background-position: right;
}
.ln2x-block.fdb-viewport, .ln2x-block.fdb-viewport .container {
    min-height: calc(100% - 1 * 2.5rem);
}
.ln2x-block.fdb-image-bg {
    color: #f2f2f2;
}
.ln2x-block .fdb-box {
    background: #FFF9FF;
    padding: 5.75rem 5.5rem;
    overflow: hidden;
    color: #444;
    border-radius: .25rem;
    box-shadow: 0 .3125rem .875rem 0 rgba(129, 129, 129, .2)!important;
}
.ln2x-block .col-fill-left, .ln2x-block .col-fill-right {
    width: 50%;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}
.ln2x-block .fdb-touch {
    border-top: solid .3125rem #2C95E5;
    z-index: 2;
}
.ln2x-block img+h3, .ln2x-block img+h4, .ln2x-block img+p {
    margin-top: 1.25rem;
}
.ln2x-block img+h1, .ln2x-block img+h2 {
    margin-top: 1.5rem;
}
.ln2x-block .col-fill-left {
    position: relative;
    left: 0;
    z-index: 1;
}
.ln2x-block .col-fill-left+div {
    position: relative;
    z-index: 2;
}
.ln2x-block .col-fill-right {
    position: relative;
    right: 0;
    z-index: 1;
}
.ln2x-block .col-fill-right+div {
    position: relative;
    z-index: 2;
}
.ln2x-block img.fdb-icon, .ln2x-block img.fdb-icon-round {
    width: auto;
    width: 5.75rem;
}
.ln2x-block .row-100 {
    height: 4.25rem;
    width: 100%}
.ln2x-block .row-50 {
    height: 2.125rem;
    width: 100%}
.ln2x-block .row-70 {
    height: 3.375rem;
    width: 100%}
